*
{
    margin:0px;
    padding:0px;
}
body{
    background: url('images/im1.jpg');
    background-size:cover;
    font-family:sans-serif;
    background-repeat: no-repeat;
}
h1
{
    font-family:'Times New Roman', Times, serif;
    padding:5px;
    font-size: 40px;
}
h4
{
    font-size:25px;
    color:cyan;
}
.down{
    width:1280px;
    height:950px;
    background:transparent;
    background:black;
    color:white;
    top:50%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px 30px 40px 30px;
}
.down ul
{
    list-style: none;
    margin-top: 2%;
    padding:0px;
    margin-bottom:100px;
}
.down ul li
{
    background:white;
    width:145px;
    color:black;

    border:2px solid black;
    font-weight: bold;
    position: relative;
    height:50px;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
    float:left;
    margin-top: 0px;
}
.down ul li:hover
{
    background-color: black;
    border:2px solid crimson;
    color:white;
}
.intro
{
    font-size: 20px;
    padding:10px;
    margin:10px;
    border:1.5px dashed grey;
}
