*
{
    margin:0px;
    padding:0px;
}
body{
    background: url('images/im1.jpg');
    /*background-color: skyblue;*/
    background-size:cover;
    font-family:sans-serif;
    background-repeat: no-repeat;
}
hr
{
    border-width: 2px;
}
h1
{
    font-family:'Times New Roman', Times, serif;
    padding:5px;
    font-size: 40px;
}
h4
{
    font-family:'Times New Roman', Times, serif;
    padding:5px;
    color:cyan;
    margin-bottom: 10px;
    font-size: 30px;
}
.down{
    width:1280px;
    height:1000px;
    background:transparent;
    background:black;
    color:white;
    top:50%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px 30px 40px 30px;
}
.down ul
{
    list-style: none;
    margin-top: 2%;
    padding:0px;
    margin-bottom:150px;
}
.down ul li 
{
    background:white;
    width:145px;
    color:black;
    border:2px solid black;
    font-weight: bold;
    position: relative;
    height:50px;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
    float:left;
    margin-top: 0px;
}
.down ul li:hover
{
    background-color: black;
    border:2px solid crimson;
    color:white;
}

.detail
{
    padding:10px;
    margin:10px;
    margin-top:20px;
}
input
{
    width: 30%;
    margin-bottom: 30px;

}
.detail input[type="text"]
{
    border:1px solid #fff;
    background : transparent;
    outline:none;
    width:300px;
    height:30px;
    font-size:19px;
    color: white;
}
/*.detail  input[type="file"]
{
    border:1px solid #fff;
    background : transparent;
    outline:none;
    width:200px;
    height:30px;
    font-size:14px;
    color: white;
}*/
.detail select
{
    border:1px solid #fff;
    background : transparent;
    outline:none;
    width:300px;
    height:30px;
    font-size:19px;
    color: white;
}
.detail option{
    background-color: black;
    color:white;
    padding:3px;
    font-size: 15px;
    font-weight: bold;
    border:solid 1px white;
}
label
{
    width:240px;
    display:inline-block;
}
.detail input[type="submit"]
{
    border:none;
    outline:none;
    height:50px;
    font-weight: bold;
    width:100px;
    background-color:red ;
    font-size:22px;
    margin-bottom: 0px;
    color:white;
    border-radius:20px;
}
.detail input[type="submit"]:hover 
{
    cursor:pointer;
    background: black;
    border: 2px white solid;
    color:white;
    border-radius: 10px;
}