*
{
    margin:0px;
    padding:0px;
}
body{
   background: url('images/im1.jpg');
   /*background-color:black;*/
    background-size:cover;
    font-family:sans-serif;
    background-repeat: no-repeat;
}
h1
{
    font-family:'Times New Roman', Times, serif;
    padding:5px;
    font-size: 40px;
}
h4
{
    font-size:25px;
    color:cyan;
}
.down{
    width:1280px;
    height:950px;
    background:transparent;
    background:black;
    color:white;
    top:50%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px 30px 40px 30px;
}
.down ul
{
    list-style: none;
    margin-top: 2%;
    padding:0px;
    margin-bottom:100px;
}
.down ul li
{
    background:white;
    width:145px;
    color:black;

    border:2px solid black;
    font-weight: bold;
    position: relative;
    height:50px;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
    float:left;
    margin-top: 0px;
}
.down ul li:hover
{
    background-color: black;
    border:2px solid crimson;
    color:white;
}
.edit
{
    background:white;
    height:20px;
    width:60px;
    color : black;
    font-weight: bold;
}
.edit:hover 
{
    background :black ;
    color:white;
    border : 1px solid white;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
/*table{
    font-weight: bold;
    width:100%;
}
/*table th td
{
       border: 1px solid white ;
      border-collapse: collapse;
}*/
th {
    color : gold;
    text-align: center;
  padding: 10px;
}
tr, td {
  text-align: center;
  padding: 10px;
  color:violet;
    font-size: 19px;
}